# RUN EXAMPLE:
# find src/ -type f | grep -vi lib/* | grep -E ".*\.(cpp|hpp|c|h|inl)$" | xargs clang-tidy --use-color --config-file=.clang-tidy -p build > dev/clang-tidy-output.txt
---
WarningsAsErrors: "true"
UseColor: true
HeaderFilterRegex: 'src\/.*'
HeaderFileExtensions: # clang-tidy > 18
  - "hpp"
  - "inl"
ImplementationFileExtensions: # clang-tidy > 18
  - "cpp"
ExtraArgsBefore:
  - --std=c++20

Checks:
  # enabled checks
  - bugprone-*
  - cert-*
  - clang-analyzer-*
  - concurrency-*
  - cppcoreguidelines-*
  - google-*
  - misc-*
  - modernize-*
  - performance-*
  - readability-*

  # disabled checks
  - -cppcoreguidelines-avoid-const-or-ref-data-members
  - -cppcoreguidelines-avoid-magic-numbers
  - -cppcoreguidelines-non-private-member-variables-in-classes
  - -cppcoreguidelines-pro-type-union-access
  - -cppcoreguidelines-pro-type-vararg
  - -misc-include-cleaner
  - -misc-non-private-member-variables-in-classes
  - -modernize-pass-by-value
  - -modernize-use-nodiscard
  - -modernize-use-trailing-return-type
  - -readability-identifier-length
  - -readability-redundant-access-specifiers
  - -readability-uppercase-literal-suffix

  # TODO checks
  - -bugprone-branch-clone
  - -bugprone-easily-swappable-parameters
  - -bugprone-exception-escape
  - -bugprone-narrowing-conversions
  - -bugprone-suspicious-stringview-data-usage
  - -bugprone-unchecked-optional-access
  - -bugprone-use-after-move
  - -cert-dcl16-c
  - -cert-dcl58-cpp
  - -cert-err58-cpp
  - -cert-oop54-cpp
  - -cert-oop58-cpp
  - -clang-analyzer-optin.cplusplus.VirtualCall
  - -clang-diagnostic-format
  - -concurrency-mt-unsafe
  - -cppcoreguidelines-easily-swappable-parameters
  - -cppcoreguidelines-missing-std-forward
  - -cppcoreguidelines-narrowing-conversions
  - -cppcoreguidelines-pro-bounds-pointer-arithmetic
  - -cppcoreguidelines-pro-type-member-init
  - -google-explicit-constructor
  - -google-readability-todo
  - -misc-const-correctness
  - -misc-unconventional-assign-operator
  - -misc-unused-parameters
  - -misc-use-anonymous-namespace
  - -misc-use-internal-linkage
  - -modernize-use-ranges
  - -performance-enum-size
  - -readability-avoid-return-with-void-value
  - -readability-convert-member-functions-to-static
  - -readability-else-after-return
  - -readability-function-cognitive-complexity
  - -readability-identifier-naming
  - -readability-implicit-bool-conversion
  - -readability-inconsistent-declaration-parameter-name
  - -readability-magic-numbers
  - -readability-make-member-function-const
  - -readability-math-missing-parentheses
  - -readability-named-parameter
  - -readability-qualified-auto
  - -readability-redundant-inline-specifier
  - -readability-redundant-member-init
  - -readability-string-compare
  - -readability-use-std-min-max

CheckOptions:
  readability-identifier-naming.AbstractClassCase: CamelCase
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.ClassConstantCase: UPPER_CASE
  readability-identifier-naming.ClassMemberCase: UPPER_CASE
  readability-identifier-naming.ClassMethodCase: camelBack
  # readability-identifier-naming.ConstantCase: lower_case
  # readability-identifier-naming.ConstantMemberCase: camelBack
  # readability-identifier-naming.ConstantMemberPrefix: m_
  readability-identifier-naming.ConstantParameterCase: lower_case
  readability-identifier-naming.ConstantPointerParameterCase: lower_case
  readability-identifier-naming.ConstexprFunctionCase: camelBack
  readability-identifier-naming.ConstexprMethodCase: camelBack
  # readability-identifier-naming.ConstexprVariableCase: camelBack
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: UPPER_CASE
  readability-identifier-naming.FunctionCase: camelBack
  # readability-identifier-naming.GlobalConstantCase: camelBack
  readability-identifier-naming.GlobalConstantPointerCase: camelBack
  readability-identifier-naming.GlobalFunctionCase: camelBack
  readability-identifier-naming.GlobalPointerCase: camelBack
  # readability-identifier-naming.GlobalVariableCase: camelBack
  readability-identifier-naming.InlineNamespaceCase: lower_case
  readability-identifier-naming.LocalConstantCase: lower_case
  readability-identifier-naming.LocalConstantPointerCase: lower_case
  readability-identifier-naming.LocalPointerCase: lower_case
  readability-identifier-naming.LocalVariableCase: lower_case
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.MemberCase: camelBack
  readability-identifier-naming.MethodCase: camelBack
  # readability-identifier-naming.NamespaceCase: lower_case
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.ParameterPackCase: lower_case
  readability-identifier-naming.PointerParameterCase: lower_case
  readability-identifier-naming.PrivateMemberCase: camelBack
  readability-identifier-naming.PrivateMemberPrefix: m_
  readability-identifier-naming.PrivateMethodCase: camelBack
  readability-identifier-naming.ProtectedMemberCase: camelBack
  readability-identifier-naming.ProtectedMemberPrefix: m_
  readability-identifier-naming.ProtectedMethodCase: camelBack
  readability-identifier-naming.PublicMemberCase: camelBack
  readability-identifier-naming.PublicMethodCase: camelBack
  readability-identifier-naming.ScopedEnumConstantCase: UPPER_CASE
  readability-identifier-naming.StaticConstantCase: lower_case
  readability-identifier-naming.StaticVariableCase: lower_case
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.TemplateParameterCase: UPPER_CASE
  readability-identifier-naming.TemplateTemplateParameterCase: CamelCase
  # readability-identifier-naming.TypeAliasCase: CamelCase
  # readability-identifier-naming.TypedefCase: CamelCase
  readability-identifier-naming.TypeTemplateParameterCase: UPPER_CASE
  # readability-identifier-naming.UnionCase: lower_case
  readability-identifier-naming.ValueTemplateParameterCase: UPPER_CASE
  # readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.VirtualMethodCase: camelBack
