[submodule "GLFW"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "GLAD"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad
[submodule "GLM"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "IMGUI"]
	path = lib/imgui/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "SPDLOG"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
	branch = 76fb40d95455f249bd70824ecfcae7a8f0930fa3
[submodule "ENTT"]
	path = lib/entt
	url = https://github.com/skypjack/entt.git
	branch = e4ccb87
[submodule "TINYFILEDIALOGS"]
	path = lib/tinyfiledialogs/tinyfiledialogs
	url = https://git.code.sf.net/p/tinyfiledialogs/code
[submodule "RAUDIO"]
	path = lib/raudio/raudio
	url = https://github.com/raysan5/raudio.git
[submodule "MINIAUDIO"]
	path = lib/miniaudio/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "SFML"]
	path = lib/sfml
	url = https://github.com/SFML/SFML.git
